body::after {
	content: "";
	background-color: rgba(49, 59, 77, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0 0 60px 0;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;

	@media (min-width: $mobileSmall) {
		padding: 0 0 80px 0;
	}

	@media (min-width: $mobile) {
		padding: 30px 10px;
	}
}

.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
}

.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	width: 100%;
	max-width: 900px;
	.lock & {
		visibility: visible;
	}
}

.popup__title-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include adaptiveValue("padding-right", 45, 25);
	@include adaptiveValue("padding-left", 45, 25);
	padding-top: rem(30);
	padding-bottom: rem(20);
	border-bottom: 1px solid rgba(193, 193, 193, 0.3);
}

.popup__title {
	@include adaptiveValue("font-size", 28, 14);
	font-weight: 600;
	line-height: math.div(17, 14);
	color: #777e90;

	@media (min-width: $mobile) {
		color: #313b4d;
	}
}

.popup__main {
	display: flex;
	flex-direction: column;
	margin: 0 rem(25);

	@media (min-width: $mobile) {
		padding: rem(20) 0;
	}
}

.popup__items {
	display: flex;
	flex-direction: column;
}

.popup__item {
	display: flex;
	justify-content: space-between;
	gap: 15px;
	padding: rem(20) 0;
	border-bottom: 1px solid rgba(193, 193, 193, 0.3);
}

.popup__card {
	display: flex;
	max-width: rem(370);
	margin: 0 auto 0 0;
}

.popup__img {
	@include adaptiveValue("width", 110, 60);
	@include adaptiveValue("height", 110, 60);
	margin-right: rem(5);

	@media (min-width: $mobileSmall) {
		margin-right: rem(20);
	}
}

.popup__info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	max-width: rem(240);
}

.popup__item-name {
	font-size: 11px;
	line-height: math.div(20, 16);
	letter-spacing: -0.5px;

	@media (min-width: $mobileSmall) {
		font-size: 13px;
	}

	@media (min-width: $mobile) {
		font-size: 16px;
	}
}

.popup__item-code {
	font-size: 12px;
	line-height: math.div(15, 12);
	letter-spacing: -0.5px;
	color: #a7a7a7;
}

.popup__buttons {
	display: none;

	@media (min-width: $mobile) {
		display: flex;
		align-items: center;
		margin-right: rem(55);
	}
}

.popup__button,
.popup__count {
	width: 40px;
	height: 40px;
	border-radius: 2px;
	border: 1px solid #ececec;
}

.popup__count {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	line-height: math.div(19, 16);
	letter-spacing: -0.5px;
	color: #8d99a0;
}

.popup__button {
	position: relative;
	cursor: pointer;
}

.popup__button-increment::after,
.popup__button-decrement::before,
.popup__button-increment::before {
	content: "";
	position: absolute;
	top: 50%;
	left: calc(50% - 4px);
	width: 8px;
	height: 1px;
	background-color: #8d99a0;
}

.popup__button-increment::after {
	transform: rotate(90deg);
}

.popup__extra {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.popup__bin {
	align-self: flex-end;

	&::before {
		font-size: 20px;
		color: rgba(141, 153, 160, 0.4);

		@media (min-width: $mobile) {
			font-size: 25px;
		}
	}
}

.popup__cost {
	@include adaptiveValue("font-size", 24, 11);
	font-weight: 500;
	line-height: math.div(28, 24);
	letter-spacing: -0.5px;
	white-space: nowrap;

	@media (min-width: $mobileSmall) {
		margin-right: rem(20);
	}

	@media (min-width: $mobile) {
		margin-right: rem(25);
	}
}

.popup__buy-panel {
	display: flex;
	justify-content: flex-start;
	margin: rem(25) 0;

	@media (min-width: $mobile) {
		justify-content: space-between;
	}
}

.popup__continue {
	display: none;
	align-self: flex-end;
	line-height: math.div(32, 14);
	margin-bottom: rem(20);
	color: #4e6297;
	text-decoration-line: underline;

	@media (min-width: $mobile) {
		display: block;
	}
}

.popup__block {
	display: flex;
	flex-direction: column;
}

.popup__total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	margin-bottom: rem(15);
}

.popup__total-text {
	font-weight: 500;
	line-height: math.div(32, 14);
	color: #222d4a;
}

.popup__stock-cost {
	line-height: math.div(17, 14);
	letter-spacing: -0.5px;
	color: #8d99a0;
	text-decoration-line: line-through;
}

.popup__total-cost {
	@include adaptiveValue("font-size", 24, 19);
	font-weight: 600;
	line-height: math.div(28, 24);
	letter-spacing: -0.5px;
	color: #313b4d;
}

.popup__buy-button {
	font-size: 16px;
	line-height: math.div(20, 16);
	width: 250px;
	padding: rem(15) 0;
	border: 1px solid transparent;
	border-radius: 6px;
	color: #fff;
	background-color: #002347;
	align-self: center;
	text-align: center;
	transition: color 0.3s ease;
	transition: background-color 0.3s ease;

	@media (any-hover: hover) {
		&:hover {
			color: #002347;
			background-color: #fff;
			border-color: #002347;
		}
	}

	@media (min-width: $mobileSmall) {
		width: 320px;
	}
}

.popup__spoller-title {
	display: flex;
	align-items: center;
	gap: 10px;
	@include adaptiveValue("font-size", 18, 14);
	line-height: math.div(32, 18);
	font-weight: 600;
	margin-bottom: rem(15);
	color: #222d4a;
	cursor: pointer;

	&._spoller-active {
		.icon-chevron-right {
			transform: rotate(-90deg);
		}
	}

	.icon-chevron-right {
		transform: rotate(90deg);
		transition: transform 0.3s ease;
	}
}

.popup__spollers-block {
	margin-bottom: rem(30);
}

.popup__delimitation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include adaptiveValue("font-size", 18, 14);
	font-weight: 500;
	line-height: math.div(32, 18);
	margin-bottom: rem(30);
	color: #484b4c;
}

.popup__line {
	flex: 1 1 auto;
	max-width: 300px;
	height: 1px;
	background-color: rgba(193, 193, 193, 0.3);

	&:first-child {
		@include adaptiveValue("margin-right", 90, 30);
	}

	&:last-child {
		@include adaptiveValue("margin-left", 90, 30);
	}
}

.popup__order {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
	@include adaptiveValue("margin-bottom", 60, 20);

	.popup__block {
		max-width: 345px;
		gap: 10px;
	}

	@media (min-width: $mobile) {
		flex-direction: row;
		align-items: center;
	}
}

.popup__order-title {
	@include adaptiveValue("font-size", 18, 14);
	font-weight: 500;
	line-height: math.div(32, 18);
	margin-bottom: rem(15);
	color: #484b4c;
}

.popup__text {
	font-size: 14px;
	font-weight: 500;
	line-height: math.div(24, 14);
	color: #8d99a0;
}

.popup__input,
.popup__form-button {
	width: 250px;

	@media (min-width: $mobileSmall) {
		width: 320px;
	}
}

.popup__input {
	font-size: 16px;
	line-height: 160%;
	padding: rem(5) 0 rem(5) rem(10);
	border: 0.5px solid #e4e1e1;
	border-radius: 6px;
	color: rgba(72, 75, 76, 0.47);
}

.popup__form-button {
	font-size: 16px;
	font-weight: 600;
	line-height: 160%;
	padding: rem(5) 0 rem(5) rem(10);
	border: 0.5px solid #8d99a0;
	border-radius: 6px;
	color: #002347;
	text-align: center;
	transition: color 0.3s ease;
	transition: background-color 0.3s ease;

	@media (any-hover: hover) {
		&:hover {
			color: #fff;
			background-color: #002347;
		}
	}
}

.popup__time {
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
	margin: rem(10) 0 rem(5) 0;
	color: #484b4c;
}

// TODO rows and columns // refactor popup
.popup__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.popup__head {
	margin-bottom: rem(10);
	padding: rem(20);
	border-bottom: 1px solid rgba(193, 193, 193, 0.3);
}

// TODO logo refactor
.popup__logo {
	min-width: inherit !important;

	img {
		max-width: 240px;
		width: 100%;
		max-height: 35px;
	}
}

.popup__nav {
	margin-bottom: rem(20);
}

.popup__tel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	line-height: math.div(20, 16);
	letter-spacing: -0.5px;
	margin-top: rem(20);
	padding: 20px;
	color: #fff;
	background-color: #212c48;
}

.popup-order {
	@media (min-width: $mobile) {
		.popup__content {
			max-width: 460px;
			border-radius: 9px;
		}
	}
}

.popup-stock {
	.popup__content {
		padding: 20px;
	}

	.popup__text {
		max-width: 120px;
	}

	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
		margin-bottom: rem(30);
		padding: rem(20) rem(15);
		box-shadow: 6px 10px 25px rgba(0, 0, 0, 0.1);

		@media (min-width: $mobileSmall) {
			padding: rem(20) rem(30);
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
		line-height: math.div(32, 18);
		margin-bottom: rem(20);
		color: #222d4a;
	}

	.cards {
		flex-wrap: wrap;

		&__item {
			flex: 1 1 auto;
		}

		@media (min-width: $mobileSmall) {
			&__item {
				flex: 0 1 50%;
			}
		}
	}
}

.popup-more {
	.popup__body {
		padding: 0 20px;
	}

	&__title {
		font-weight: 600;
		line-height: math.div(30, 14);
		margin-bottom: rem(15);
		color: #777e90;
	}
}

.popup-sort {
	padding: 0 rem(15) rem(15) rem(15);
	z-index: 1000;

	.popup__wrapper {
		justify-content: flex-end;
	}

	.popup__content {
		padding: rem(20) rem(30);
		border-radius: 2px;
	}

	.popup__sort-type {
		font-weight: 500;
		line-height: math.div(17, 14);
		margin-bottom: rem(10);
		padding: rem(10);
		color: #484b4c;
		text-align: center;
		border: 1px solid #f4f5f7;
		border-radius: 2px;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: rgba(153, 158, 170, 0.5);
		}
	}

	.popup__close {
		position: absolute;
		top: -30%;
		left: 50%;
		padding: rem(15);
		border-radius: 50%;
		background-color: #fff;
		transform: translateX(-50%);

		.close {
			left: -1px;
		}
	}
}
