.goods {
  &__cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    overflow: hidden;
  }

  &__cards-wrapper {
    overflow: hidden;
  }

  &__btnWrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
  }

  &__btnSlider.left {
    transform: rotate(180deg);
  }
}
